<mat-card style=" color : white; background : #323232;"> Cardiovasculaire (* repos de 10 minutes minimum
  doit précéder l’examen)
</mat-card>
<mat-form-field appearance="fill">
  <mat-label>FC (repos)</mat-label>
  <input type="number" #fc_repos matInput placeholder="FC repos"> batt. / par minute
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>TA (bras dr)</mat-label>
  <input type="number" #tadr matInput placeholder="TA (bras dr)"> mmHg
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>TA (bras gche)</mat-label>
  <input type="number" #tagc matInput placeholder="TA (bras dr)"> mmHg
</mat-form-field>
<mat-card style=" color : white; background : #323232;"> Données anthropométriques
</mat-card>
<mat-form-field appearance="fill" style="width: 30%">
  <mat-label>Poids</mat-label>
  <input type="number"  #poidskg [(ngModel)]="kg"  matInput placeholder="Kg"/>

</mat-form-field>
Kg ou Lb
<mat-form-field appearance="fill" style="width: 30%">
  <mat-label>Poids</mat-label>
  <input type="number" #poidslb [(ngModel)]="lbpoids" matInput placeholder="Lb">
</mat-form-field>
<mat-form-field appearance="fill" style="width: 30%">
  <mat-label>Taille</mat-label>
  <input type="number" #taillecm [(ngModel)]="cm" matInput placeholder="taille en cm"/>

</mat-form-field>
cm ou pi
<mat-form-field appearance="fill" style="width: 30%">
  <mat-label>Taille</mat-label>
  <input type="number" [(ngModel)]="pitaille" #taillepi matInput placeholder="taille en pi">
</mat-form-field>

<mat-form-field appearance="fill" >
  <mat-label>IMC</mat-label>
  <input type="number" step="0.000000000000001" #imc (click)="calcul_imc()" [(ngModel)]="imccm" matInput placeholder="IMC">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>tour de taille</mat-label>
  <input type="number" #tour_taille matInput placeholder="tour de taille">
</mat-form-field>
<mat-card style=" color : white; background : #323232;"> Tabagisme
</mat-card>
<mat-radio-button [(ngModel)]="!disaledactif" #actiftabac (click)="onChangeActif()"  value="actif">Actif – nombre de cigarettes/jour</mat-radio-button>
<mat-form-field appearance="fill">

  <input type="number" [disabled]="disaledactif" #nb_cigarettes matInput placeholder="nombre de cigarettes/jour">
</mat-form-field>
<br>
<mat-radio-button #passiftabac (click)="onChangePassif()" value="passif">Passif </mat-radio-button>
<br>
<mat-radio-button #anterieurtabac (click)="onChangeAnterieur()" value="anterieur">Anterieur – Arrêt depuis :</mat-radio-button>
<mat-form-field appearance="fill" style="width: 30%">

  <input type="number" [disabled]="disaledanterieur" #annee_arret matInput placeholder="Annee">
</mat-form-field>
<mat-card style=" color : white; background : #323232;"> Bilan lipidique</mat-card>
    <mat-form-field appearance="fill">
      <mat-label>LDL (mmol/L) </mat-label>
      <input type="number" #ldl matInput placeholder="LDL (mmol/L)">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>HDL (mml/L) </mat-label>
      <input type="number" #hdl matInput placeholder="HDL (mml/L) ">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Non HDL  (CT- HDL) </mat-label>
      <input type="number" #nonhdl matInput placeholder="Non HDL  (CT- HDL) ">
    </mat-form-field>
    <mat-form-field appearance="fill">
    <mat-label>Triglycérides (mmol/L)</mat-label>
    <input type="number" #triglycerides matInput placeholder="Triglycérides (mmol/L)">
  </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>HbA1c   (%)  </mat-label>
      <input type="number" #hba1c matInput placeholder="HbA1c   (%) " min="0" max="100">
    </mat-form-field>

<mat-card style=" color : white; background : #323232; "> Pharmacothérapie
</mat-card>
<mat-selection-list #cardiovasculaire style="width: 40%; ">
<p style="font-weight: bold">Cardiovasculaire</p>


<mat-list-option #beta_bloqueurs style="margin-left: 1em"  value="Béta-bloqueurs">Béta-bloqueurs</mat-list-option>

<mat-list-option #inhibiteurs_enzyme style="margin-left: 1em" value="Inhibiteurs de l’enzyme de conversion de l’angiotensine">Inhibiteurs de l’enzyme de conversion de l’angiotensine</mat-list-option>

<mat-list-option #bloqueur_angiotensine style="margin-left: 1em" value="Bloqueur de récepteur de l’angiotensine II">Bloqueur de récepteur de l’angiotensine II</mat-list-option>

<mat-list-option #bloquer_canaux_calciques style="margin-left: 1em" value="Bloqueurs des canaux calciques">Bloqueurs des canaux calciques</mat-list-option>

<mat-list-option #anti_arythmique  style="margin-left: 1em" value="Anti-arythmique – Cordarone<">Anti-arythmique – Cordarone</mat-list-option>

<mat-list-option #inhibiteurIf style="margin-left: 1em" value="Inhibiteur du courant If (Ibrabadine)">Inhibiteur du courant If (Ibrabadine)</mat-list-option>
<mat-list-option #diurétique_th style="margin-left: 1em" value="Diurétique thiazide">Diurétique thiazide</mat-list-option>
<mat-list-option #diurétique_anse style="margin-left: 1em" value="Diurétique de l’anse">Diurétique de l’anse</mat-list-option>
<mat-list-option #coumadin style="margin-left: 1em" value="Anti coagulants (coumadin)">Anti coagulants (coumadin)</mat-list-option>
<mat-list-option #naco style="margin-left: 1em" value="Anti coagulants (NACO)">Anti coagulants (NACO)</mat-list-option>
<mat-list-option #anti_plaquettaires style="margin-left: 1em" value="Anti plaquettaires">Anti plaquettaires</mat-list-option>
</mat-selection-list>
<br>
<mat-selection-list #dyslipidemie style="width: 40%; margin-left: 50%; margin-top: -38em; position: relative" >
  <p style="font-weight: bold">Dyslipidémie</p>

  <mat-list-option #statines style="margin-left: 1em" value="Statines">Statines</mat-list-option>

  <mat-list-option #inhibiteurs_cholesterol style="margin-left: 1em" value="Inhibiteurs de l’absorption du cholestérol (ezetrol)">Inhibiteurs de l’absorption du cholestérol (ezetrol)</mat-list-option>

  <mat-list-option #inhibiteurs_pcsk9 style="margin-left: 1em" value="Inhibiteurs de PCSK9">Inhibiteurs de PCSK9</mat-list-option>

</mat-selection-list>
<br>

<mat-selection-list #diabete style="width: 40%; margin-left: 50%;position: absolute">
  <p style="font-weight: bold">Diabète</p>
  <mat-list-option #biguanide style="margin-left: 1em" value="Biguanide (ex : glucophage)">Biguanide (ex : glucophage)</mat-list-option>

  <mat-list-option #secretaguogues_insuline style="margin-left: 1em" value="Sécrétagogues de l’insuline (ex : diabeta)">Sécrétagogues de l’insuline (ex : diabeta)</mat-list-option>

  <mat-list-option #inhibiteurs_alphaglucosides style="margin-left: 1em" value="Inhibiteurs des alpha-glucosidas">Inhibiteurs des alpha-glucosidas</mat-list-option>
  <mat-list-option style="margin-left: 1em">Insuline</mat-list-option>

</mat-selection-list>


<br>
<mat-selection-list #others style="width: 40%; margin-left: 50%;position: absolute; margin-top: 16em;">
  <p style="font-weight: bold">Autres</p>

<mat-list-option #synthroide value="Synthroide" style="margin-left: 1em">Synthroide</mat-list-option>

<mat-list-option #Supplment_fer style="margin-left: 1em" value="Supplément de fer">Supplément de fer</mat-list-option>

<mat-list-option #opioides style="margin-left: 1em" value="Opioides">Opioides</mat-list-option>
<mat-list-option #anxiolytique style="margin-left: 1em" value="Anxiolytique" >Anxiolytique</mat-list-option>
<mat-list-option #anti_depresseurs style="margin-left: 1em" value="Anti dépresseurs">Anti dépresseurs</mat-list-option>
</mat-selection-list>
<button mat-stroked-button color="primary" (click)="ajouter(cardiovasculaire.selectedOptions.selected,dyslipidemie.selectedOptions.selected
,diabete.selectedOptions.selected,others.selectedOptions.selected,fc_repos.value,tadr.value,tagc.value,poidskg.value,taillecm.value,imc.value,tour_taille.value,
 actiftabac,nb_cigarettes.value,passiftabac,anterieurtabac,annee_arret.value)" class="btn-block">Enregistrer

</button>

