<div class="row">
  <div class="col-6">
    <img src="" alt="">
  </div>
</div>
<div id="quiz"><!-- Partie affichage du questionnaire -->
  <h3 >{{quiz.name}}</h3>
  <h5  style="font-weight: inherit">{{quiz.description}}</h5>
  <hr/>

  <div *ngIf="mode=='quiz' && quiz"> <!-- Partie affichage des questions un par un  -->
    <div *ngFor="let question of filteredQuestions;">
      <div class="badge badge-info">Question {{pager.index + 1}} de {{pager.count}}.</div>
      <div *ngIf="config.duration" class="badge badge-info float-right">Temps ecoule : {{ellapsedTime}}
        / {{duration}}</div>
      <h3 class="font-weight-normal">{{pager.index + 1}}.
        <span [innerHTML]="question.name"></span>
      </h3>
      <div class="row text-left options">
        <div style="width: 100%; " *ngFor="let option of question.options">
          <div class="option" style="background-color: #eeeeee; font-weight: bold;" [attr.for]="option.id"
               *ngIf="option.id==1055 || option.id==1056 || option.id==1057 || option.id==1058 || option.id==1059">
            <label class="font-weight-normal">
              <input style="margin-left: 1em; margin-right: 2em;" id="{{option.id}}" type="checkbox"
                     [(ngModel)]="option.selected"
                     (change)="onSelect(question, option);"/> <b>{{option.name}}</b>
            </label>

          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="text-center">
      <button class="btn btn-primary" style="margin-right: 1em;" *ngIf="config.allowBack"
              (click)="goTo(pager.index - 1);">
        Precedent
      </button>
      <button class="btn btn-primary" (click)="goTo(pager.index + 1);">Suivant</button>
      <button class="btn btn-info" *ngIf="pager.index +1  == pager.count   " style="margin-left: 1em;"
              (click)="mode='result'"> Confirmer
      </button>
    </div>
  </div>

  <div *ngIf="mode=='result'">
    <h3 class="alert-success"> Merci, cliquez sur le button envoyer si vous avez fini sinon retour au
      questionnaire </h3>
    <button style="margin-right: 5%; margin-left: 20%" class="btn btn-primary" (click)="onSubmit()">Envoyer</button>
    <button style="margin-left: 5%; margin-right: 5%" class="btn btn-warning" (click)="goBack(pager.count)">retour au
      questionnaire
    </button>
  </div>
</div>
<hr/>


