<mat-card>
  <mat-card-title>Connexion du patient</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input  matInput placeholder="Email" [formControl]="emailFormControl"
               [errorStateMatcher]="matcher">
        <mat-hint>Assurez vous de saisir un courriel valide !</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Veuillez entrez une adresse mail valide
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Votre adresse email est <strong>Obligatoire</strong>
        </mat-error>
      </mat-form-field>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>NIP</mat-label>
          <input type="password" matInput placeholder="NIP" formControlName="password">
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button>Connexion</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
