.mat-stroked-button{border:5px solid black; width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 7em; margin-bottom: 5em; }
.mat-form-field{
  width: 40%;
}



.mat-form-field{
  margin: 10px;
}
