mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;


}



mat-sidenav {
  width: 250px;
  height: 10em;
}

a {
  text-decoration: none;
  color: gray;
  text-align: center;
  font-weight: bold;
  font-size: large;
  width: 20%;

}

a:hover,
a:active {
  color: indigo;
}
.pagel{
  width: 100%;
  position: absolute;

  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 2em;



}
.example-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2pKfz6MeqrIgC0FDDhcn6pnFoxf3nF1iqjgv1XmWlUEXeoDy3');
  background-size: cover;
}
@media(max-width: 800px) {
  .pagel{
    width: 100%;
    position: relative;
  }

  .page{
    width: 100%;
    position: relative;
    margin-left: 0;


  }}
.page{
  width: 100%;
  position: relative; margin-left: 35%; width: 50%;
  margin-top: 2em;
  margin-right: 1em;

}

.navigation-items {
  list-style: none;
  font-size: medium;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}
