<mat-sidenav-container *ngIf="  token!=null ">
  <mat-sidenav  #sidenav role="navigation" >
    <mat-nav-list>
      <a mat-list-item >
              <mat-icon class="icon">autorenew</mat-icon>
              <span class="label" routerLink="device" >Synchroniser votre podometre</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">question_answer</mat-icon>
        <span class="label">Repondre aux questionnaires</span>

      </a>
      <a mat-list-item>
              <mat-icon class="icon">done_outline</mat-icon>
              <span class="label">Recommandations</span>
            </a>
        <a mat-list-item *ngIf="socio==null">
              <mat-icon class="icon">sentiment_satisfied_alt</mat-icon>
              <span class="label">Completer votre profil</span>

            </a>

      <a  mat-list-item type="button">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Deconnexion</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="2em" class="navigation-items">



          <li>
            <a  mat-list-item type="button"  style="color: red">
              <mat-icon class="icon" >input</mat-icon>
              <span class="label">Deconnexion</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>

    <div class="pagel" >
      <mat-card class="example-card" style="margin-bottom: 2em">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
          </div>
          <mat-card-title>{{obj.object.firstName}} {{obj.object.lastName}}</mat-card-title>
          <mat-card-subtitle>Numero de dossier : {{obj.object.fileNumber}} </mat-card-subtitle>
          <mat-card-subtitle>Date de derniere visite : 12/12/2019 </mat-card-subtitle>
          <mat-card-subtitle style="color: crimson">Date de la prochaine visite : 01/01/2020 </mat-card-subtitle>
          <mat-card-actions >
          </mat-card-actions>


        </mat-card-header>
        <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
          <ul fxLayout fxLayoutGap="2em" class="navigation-items">
            <li>
              <a mat-list-item *ngIf="socio==null">
                <mat-icon class="icon">sentiment_satisfied_alt</mat-icon>
                <span class="label">Completer votre profil</span>

              </a>
            </li>
            <li>
              <a *ngIf="!expanded" (click)="is_expanded()">

                <span class="label"><mat-icon class="icon" >question_answer</mat-icon><br>Repondre aux questionnaires</span>
              </a>
              <div *ngIf="expanded">
                <a *ngIf="hasBreq==false" mat-list-item routerLink="/breq" target="_blank">
                  <span class="label">Questinnaire de motivation </span>
                  <mat-icon class="icon" >question_answer</mat-icon>


                </a>
                <a mat-list-item  target="_blank">
                  <span class="label" [routerLink]="['/breq']">Questinnaire d'Activites physiques </span>
                  <mat-icon class="icon" > question_answer</mat-icon>


                </a>
              </div>

            </li>
            <li>
              <a mat-list-item [routerLink]="['/device']" >
                <mat-icon class="icon">autorenew</mat-icon>
                <span class="label">Synchroniser votre podometre</span>
              </a>
            </li>
            <li>
              <a mat-list-item>
                <mat-icon class="icon">done_outline</mat-icon>
                <span class="label">Recommandations</span>
              </a>
            </li>



          </ul>
        </div>
      </mat-card>
    </div>
    <div style="margin-top: 10em; ">
      <router-outlet></router-outlet>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>



