<mat-card class="example-card" style="margin-bottom: 2em">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
    </div>
    <mat-card-title>{{patient.firstName}}</mat-card-title>
    <mat-card-subtitle>Numero de dossier : {{patient.fileNumber}}</mat-card-subtitle>
    <mat-card-subtitle>Date de derniere visite : 12/12/2019 </mat-card-subtitle>
    <mat-card-subtitle style="color: crimson">Date de la prochaine visite : 01/01/2020 </mat-card-subtitle>
    <mat-card-actions >
      <button mat-button (click)="openModal('custom-modal-1')">Programmer un rdv</button>
      <button mat-button id="visite"(click)="openModel()">Programmer une visite</button>

      <jw-modal id="custom-modal-1">
        <mat-card> Planifier un rendez-vous</mat-card>
        <mat-label>Date de retour</mat-label>
        <input #returnDate matInput [matDatepicker]="picker"  placeholder="Date de retour*" color="primary"   >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
        <button (click)="closeModal('custom-modal-1');">fermer X</button>
      </jw-modal>
    <button mat-stroked-button class="btn-block" color="primary" style="background-color: azure">dernier rapport</button>
    </mat-card-actions>


  </mat-card-header>
  <mat-tab-group style="margin-top: 2em; margin-bottom: 2em;">
    <mat-tab label="informations du patient">
      <mat-card style=" color : white; background :#323232; margin-bottom: 1em;">Informations personnels</mat-card>
      <mat-form-field appearance="fill" style="width: 30%;">
        <mat-label>Nom</mat-label>
        <input disabled=true #firstname matInput placeholder="Nom*" [value]="patient.firstName" color="primary"  >
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 30%;">
        <mat-label>Prenom</mat-label>
        <input disabled=true #lastname matInput placeholder="Prenom*" [value]="patient.lastName" color="primary"  >
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 30%;">
        <mat-label>Nom de mere </mat-label>
        <input disabled=true #mothername matInput placeholder="Nom de mere* "  [value]="patient.motherName" color="primary"  >
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 30%;">
        <mat-label>Numero de telephone</mat-label>
        <input #phone type="number" matInput placeholder="Numero de telephone*" [value]="patient.contact.phone" color="primary"  >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input  #email matInput placeholder="Email" [value]="patient.contact.email" >
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 30%;">
        <mat-label> AGE </mat-label>
        <input disabled=true #birthday matInput type="number" placeholder="Age*" color="primary"  [value]="">

      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 30%;">
        <mat-label> Taille en cm </mat-label>
        <input disabled=true #birthday matInput type="number" placeholder="Age*" color="primary"  value="175" >

      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 30%;">
        <mat-label> Poids en kg </mat-label>
        <input disabled=true  matInput type="number" placeholder="Poids*" color="primary"  value="58" >

      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 30%;">
        <mat-label> IMC </mat-label>
        <input disabled=true  matInput type="number" placeholder="Age*" color="primary"  value="19.6" >

      </mat-form-field>

      <mat-card style=" color : white; background :#323232; margin-bottom: 1em;">Antecedants </mat-card>
      <mat-list #antecedants>
        <h2>Antecedants</h2>
        <mat-list-item *ngFor="let p of ant">
          <h4>{{p.antecedent }} </h4>
          <h4 *ngIf="p.year!=null">
            ANNEE : {{p.year}}
          </h4>

        </mat-list-item>

      </mat-list>
      <mat-card style=" color : white; background :#323232; margin-bottom: 1em;">Scores, degres de confiance et barrierres </mat-card>
      <mat-list #score>
        <h2>Scores</h2>
        <mat-list-item >
          Score BREQ-2 (Motivation) : 2.5
        </mat-list-item>
        <mat-list-item >
          Score GPAQ (Activite physique) : 3
        </mat-list-item>
      </mat-list>
      <mat-list #confiance>
        <h2> Degré de confiance (1-10) </h2>
        <section class="example-section">
          <mat-progress-bar
            class="example-margin"
            color="red"
            value=10
            >
          </mat-progress-bar>
        </section>
      </mat-list>
      <mat-list #barrieres>
        <h2> barrieres pour le  patient</h2>
        <mat-list-item >
          Je n ai pas assez de temps pour le sport
        </mat-list-item>
        <mat-list-item >
          Je me fatigue rapidement
        </mat-list-item>
      </mat-list>

    </mat-tab>
    <mat-tab label="Visites">
      <mat-card style=" color : white; background :#323232;">planning</mat-card>
      <button mat-stroked-button class="btn-block" style="background-color: chartreuse">Programmer  la prochaine visite</button>
      <kendo-scheduler [kendoSchedulerBinding]="events"
                       [selectedDate]="selectedDate"
                       startTime="07:00" endTime="19:00"
                       style="height: 400px;">
        <kendo-scheduler-timeline-view>
        </kendo-scheduler-timeline-view>

        <kendo-scheduler-timeline-week-view>
        </kendo-scheduler-timeline-week-view>
      </kendo-scheduler>
      <mat-card style=" color : white; background :#323232;">toutes les visites </mat-card>
      <app-list-visites></app-list-visites>

    </mat-tab>
    <mat-tab label="statistiques et graphiques">

    <app-rapport></app-rapport>
    </mat-tab>
    <mat-tab label="Resultats de l examen">
      <mat-form-field appearance="fill" style="  margin-left: 40%">
      <select #afficher_par style="" matInput matNativeControl >
        <option>
          Derniere visite : 19/02/2020
        </option>
        <option>
          visite : 12/12/2019
        </option>
        <option>
          visite : 15/11/2019
        </option>
        <option>
          visite : 19/09/2019
        </option>
        <option>
        </option>
      </select>
      </mat-form-field>
    <mat-card style=" color : white; background : #323232; width: 80%"> Cardiovasculaire (* repos de 10 minutes minimum
      doit précéder l’examen)
    </mat-card>
    <mat-form-field appearance="fill">
      <mat-label>FC (repos)</mat-label>
      <input type="number" disabled ="true" value="37" #fc_repos matInput placeholder="FC repos"> batt. / par minute
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>TA (bras dr)</mat-label>
      <input type="number" disabled ="true" #tadr matInput placeholder="TA (bras dr)"> mmHg
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>TA (bras gche)</mat-label>
      <input type="number" disabled ="true" #tagc matInput placeholder="TA (bras dr)"> mmHg
    </mat-form-field>
    <mat-card style=" color : white; background : #323232; width: 80%"> Données anthropométriques
    </mat-card>
    <mat-form-field appearance="fill" style="width: 30%">
      <mat-label>Poids</mat-label>
      <input type="number" disabled ="true" value="58" #poidskg   matInput placeholder="Kg"/>

    </mat-form-field>
    Kg ou Lb
    <mat-form-field appearance="fill" style="width: 30%">
      <mat-label>Poids</mat-label>
      <input type="number" disabled ="true" #poidslb  matInput placeholder="Lb">
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 30%">
      <mat-label>Taille</mat-label>
      <input type="number" disabled ="true" #taillecm matInput placeholder="taille en cm" value="175 "/>

    </mat-form-field>
    cm ou pi
    <mat-form-field appearance="fill" style="width: 30%">
      <mat-label>Taille</mat-label>
      <input type="number" disabled ="true"  #taillepi matInput placeholder="taille en pi" value="5.74">
    </mat-form-field>

    <mat-form-field appearance="fill" >
      <mat-label>IMC</mat-label>
      <input type="number"  disabled ="true" step="0.000000000000001" #imc  matInput placeholder="IMC" value="19">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>tour de taille</mat-label>
      <input type="number" disabled ="true"  #tour_taille matInput placeholder="tour de taille" value="10">
    </mat-form-field>
    <mat-card style=" color : white; background : #323232;width: 80%"> Tabagisme
    </mat-card>
    <mat-radio-button [checked]="true"  disabled ="true" value="actif">Actif – nombre de cigarettes/jour</mat-radio-button>
    <mat-form-field appearance="fill">

      <input type="number"   disabled ="true" #nb_cigarettes matInput placeholder="nombre de cigarettes/jour" value="8">
    </mat-form-field>
    <br>
    <mat-radio-button #passiftabac  disabled ="true"  value="passif">Passif </mat-radio-button>
    <br>
    <mat-radio-button #anterieurtabac  disabled ="true"  value="anterieur">Anterieur – Arrêt depuis :</mat-radio-button>
    <mat-form-field appearance="fill" style="width: 30%">

      <input type="number"  disabled ="true" #annee_arret matInput placeholder="Annee">
    </mat-form-field>
    <mat-card style=" color : white; background : #323232; font-weight: bold;width: 80%"> Pharmacothérapie
    </mat-card>
    <p style="font-weight: bold">Cardiovasculaire</p>

    <mat-checkbox #beta_bloqueurs [checked]="true"  disabled ="true"  style="margin-left: 1em"  value="Béta-bloqueurs">Béta-bloqueurs</mat-checkbox>

    <mat-checkbox #inhibiteurs_enzyme style="margin-left: 1em" [checked]="true"  disabled ="true"  value="Inhibiteurs de l’enzyme de conversion de l’angiotensine">Inhibiteurs de l’enzyme de conversion de l’angiotensine</mat-checkbox>

    <mat-checkbox #bloqueur_angiotensine style="margin-left: 1em" disabled ="true" value="Bloqueur de récepteur de l’angiotensine II">Bloqueur de récepteur de l’angiotensine II</mat-checkbox>
      <br>

    <mat-checkbox #bloquer_canaux_calciques style="margin-left: 1em"  disabled ="true" value="Bloqueurs des canaux calciques">Bloqueurs des canaux calciques</mat-checkbox>

    <mat-checkbox #anti_arythmique  style="margin-left: 1em" disabled ="true"  value="Anti-arythmique – Cordarone<">Anti-arythmique – Cordarone</mat-checkbox>
      <br>
    <mat-checkbox #inhibiteurIf style="margin-left: 1em" disabled ="true"  value="Inhibiteur du courant If (Ibrabadine)">Inhibiteur du courant If (Ibrabadine)</mat-checkbox>
    <mat-checkbox #diurétique_th style="margin-left: 1em" disabled ="true" value="Diurétique thiazide">Diurétique thiazide</mat-checkbox>
    <mat-checkbox #diurétique_anse style="margin-left: 1em" disabled ="true" value="Diurétique de l’anse">Diurétique de l’anse</mat-checkbox>
    <mat-checkbox #coumadin style="margin-left: 1em" disabled ="true" value="Anti coagulants (coumadin)">Anti coagulants (coumadin)</mat-checkbox>
    <mat-checkbox #naco style="margin-left: 1em" disabled ="true" value="Anti coagulants (NACO)">Anti coagulants (NACO)</mat-checkbox>
    <mat-checkbox #anti_plaquettaires disabled ="true" style="margin-left: 1em" value="Anti plaquettaires">Anti plaquettaires</mat-checkbox>

    <br>
    <p style="font-weight: bold">Dyslipidémie</p>

    <mat-checkbox #statines checked="true" disabled ="true" style="margin-left: 1em" value="Statines">Statines</mat-checkbox>

    <mat-checkbox #inhibiteurs_cholesterol disabled ="true"  style="margin-left: 1em" value="Inhibiteurs de l’absorption du cholestérol (ezetrol)">Inhibiteurs de l’absorption du cholestérol (ezetrol)</mat-checkbox>

    <mat-checkbox #inhibiteurs_pcsk9 disabled ="true"  style="margin-left: 1em" value="Inhibiteurs de PCSK9">Inhibiteurs de PCSK9</mat-checkbox>


    <br>
    <p style="font-weight: bold">Diabète</p>

    <mat-checkbox disabled ="true"  #biguanide style="margin-left: 1em" value="Biguanide (ex : glucophage)">Biguanide (ex : glucophage)</mat-checkbox>

    <mat-checkbox disabled ="true"  #secretaguogues_insuline style="margin-left: 1em" value="Sécrétagogues de l’insuline (ex : diabeta)">Sécrétagogues de l’insuline (ex : diabeta)</mat-checkbox>

    <mat-checkbox disabled ="true"  #inhibiteurs_alphaglucosides style="margin-left: 1em" value="Inhibiteurs des alpha-glucosidas">Inhibiteurs des alpha-glucosidas</mat-checkbox>
      <br>
    <mat-checkbox disabled ="true"  style="margin-left: 1em">Insuline</mat-checkbox>




    <br>
    <p style="font-weight: bold">Autres</p>

    <mat-checkbox #synthroide style="margin-left: 1em" disabled ="true"  value="Synthroide">Synthroide</mat-checkbox>

    <mat-checkbox #Supplment_fer style="margin-left: 1em"  disabled ="true" value="Supplément de fer">Supplément de fer</mat-checkbox>

    <mat-checkbox #opioides style="margin-left: 1em" disabled ="true"  value="Opioides">Opioides</mat-checkbox>
    <mat-checkbox #anxiolytique style="margin-left: 1em" disabled ="true"  value="Anxiolytique" >Anxiolytique</mat-checkbox>
    <mat-checkbox #anti_depresseurs style="margin-left: 1em" disabled ="true"  value="Anti dépresseurs">Anti dépresseurs</mat-checkbox>
    </mat-tab>
  </mat-tab-group>


</mat-card>
