html,body{height:100%;margin:0;padding:0;}
.patient-wrapper{height:100%;  position: absolute;}
.box{position:relative;width:100%;max-width:150em;}

.patient-wrapper .mat-stroked-button{border:1px solid currentColor; width: 100%;}
.patient-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix{padding:0.8375em 0;}
.patient-wrapper .mat-form-field { width: 80%;}




.mat-form-field{
  width: 40%;
}



.mat-form-field{
  margin: 10px;
}


tr.example-detail-row {
  height: 0;
}


tr.example-element-row:hover {
  background: #ff53d4;
  cursor: pointer;

}
tr.example-element-row:active{
  background: #b6b5b5;
  cursor: pointer;

}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.pagel{
  width: 30%;
  position: absolute;
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 2em;


}
.page{
  width: 70%;
  position: relative; margin-left: 35%; width: 50%;
  margin-top: 2em;

}
@media(max-width: 800px) {
  .pagel{
    width: 100%;
    position: relative;
  }
  .page{
    width: 100%;
    position: relative;
    margin-left: 0;


  }



}
