  <div class="example-container mat-elevation-z8"><div fxLayout fxLayoutAlign="left left" style="margin-left: 1em">
    <mat-form-field  style="margin-top: 1em" appearance="outline">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Chercher">

    </mat-form-field>


  </div>
  </div>



    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%">

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style=" color : white; background :#323232;"> Nom </th>
        <td mat-cell *matCellDef="let element" > {{element.firstName}} </td>
      </ng-container>



      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef style=" color : white; background :#323232;"> date</th>
        <td mat-cell *matCellDef="let element"> {{element.motherName}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef style=" color : white; background :#323232;"> Description </th>
        <td mat-cell *matCellDef="let element">

        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator style=" color : white; background :#323232;" [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator>

    <!--<app-patient-profile *ngIf="patient"></app-patient-profile>-->


