html,body{height:80%;margin:0;padding:0; width: 100%;}
.profile-wrapper{height:100%;  position: absolute;}
.box{position:relative;width:100%;max-width:30em;}

.profile-wrapper .mat-stroked-button{border:1px solid currentColor; width: 100%;}
.profile-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix{padding:0.8375em 0;}
.profile-wrapper .mat-form-field { width: 80%;}


.mat-card { width: 80%; margin-bottom: 1em;
}




.mat-form-field{
  width: 30%;
  margin-left: 10%;
}
.mat-radio.mat-radio-frame {
  border-color: black;
  width: 100%;
  background-color: #dddddd
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  margin-top: 1px;
  margin-left: 1px;
  width: 18px;
  height: 18px;
}


