<mat-card style=" color : white; background :#323232;">HISTOIRE DE SANTÉ</mat-card>
<mat-selection-list #antecedants style="width: 100%;">
  <h3>ANTECEDANTS</h3>


  <mat-list-option #angineinfractus style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="Angine Infarctus du myocarde">Angine Infarctus du
    myocarde
  </mat-list-option>

  <mat-list-option #pontagescoronariens style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="Pontages coronariens">Pontages coronariens
  </mat-list-option>

  <mat-list-option #angioplasticoronarienne style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="Angioplastie coronarienne">Angioplastie
    coronarienne
  </mat-list-option>

  <mat-list-option #maladievalvulaire style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="Maladie valvulaire">Maladie valvulaire
  </mat-list-option>

  <mat-list-option #insuf_cardiaque_nyha1_2 style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="Insuffisance cardiaque NYHA 1 ou 2">
    Insuffisance cardiaque NYHA 1 ou 2
  </mat-list-option>

  <mat-list-option #insuf_cardiaque_nyha3_4 style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="Insuffisance cardiaque NYHA 3 ou 4">
    Insuffisance cardiaque NYHA 3 ou 4
  </mat-list-option>

  <mat-list-option #avc style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="AVC">AVC
    <input  matInput #avcyear   type="text" placeholder="ANNEE" style="margin-left: 1em; width : 80% ; font-weight : bold" appearance="outline">
  </mat-list-option>


  <mat-list-option #ait style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="AIT">AIT
  <input matInput #aityear type="text" placeholder="ANNEE" style="margin-left: 1em; width : 80%;  font-weight : bold" appearance="outline">
  </mat-list-option>
  <mat-list-option #thrombectomie style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="Thrombectomie">Thrombectomie
  <input matInput  #thrombectomieyear type="text" placeholder="ANNEE" style="margin-left: 1em; width : 80%;  font-weight : bold"
         appearance="outline">
  </mat-list-option>

  <mat-list-option #claudication style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="Claudication">Claudication
  <input matInput #claudicationyear type="text" placeholder="ANNEE" style="margin-left: 1em; width : 80%;  font-weight : bold"
         appearance="outline">
  </mat-list-option>

  <mat-list-option #Chirurgie_vasculairep style="margin-left: 1em; width : 80%; width: 30%"
                   value="Chirurgie vasculaire périphérique">Chirurgie vasculaire périphérique
  </mat-list-option>


  <mat-list-option #mpoc style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="MPOC">MPOC
  <input matInput #mpocyear type="text" placeholder="ANNEE" style="margin-left: 1em; width : 80%;  font-weight : bold" appearance="outline">
  </mat-list-option>
  <mat-list-option #insuffisance_renale style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="Insuffisance rénale">Insuffisance rénale
  </mat-list-option>

  <mat-list-option #dialyse id="dialyse" style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="Dialyse">Dialyse</mat-list-option>

  <mat-list-option #cancer1 style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value="Cancer1">Cancer
  <input  #cancer1_organe type="text" matInput placeholder="Organe" style="margin-left: 1em; width : 80%;  font-weight : bold"
         appearance="outline"><input matInput  #cancer1_year type="text" placeholder="ANNEE"
                                     style="margin-left: 1em; width : 80%;  font-weight : bold" appearance="outline">
  </mat-list-option>

  <mat-list-option #cancer2 style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value=" Cancer2">Cancer
  <input  #cancer2_organe matInput type="text" placeholder="Organe" style="margin-left: 1em; width : 80%;  font-weight : bold"
         appearance="outline"><input matInput #cancer2_year type="text" placeholder="ANNEE"
                                     style="margin-left: 1em; width : 80%;  font-weight : bold" appearance="outline">
  </mat-list-option>

  <mat-list-option #cancer3 style="margin-left: 1em ; margin-bottom: 2em; width : 30%" value=" Cancer3">
    Cancer

  <input  #cancer3_organe matInput type="text" placeholder="Organe" style="margin-left: 1em; width : 80%;  font-weight : bold"
         appearance="fill"><input matInput #cancer3_year type="text" placeholder="ANNEE"
                                     style="margin-left: 1em; width : 80%;  font-weight : bold" appearance="outline">
  </mat-list-option>

  <mat-list-option #touble_muscle_squel style="margin-left: 1em ; margin-bottom: 2em; width : 30%"
                   value="Troubles musculo squelettiques (ex : lombalgie)">Troubles musculo squelettiques (ex :
    lombalgie)
  </mat-list-option>

  <mat-list-option #neurodgnrative style="margin-left: 1em; margin-bottom: 2em; width : 30%" appearance="outline"
                   value="Maladie neurodégénérative (ex : sclérose en plaques.value, parkinson)">Maladie
    neurodégénérative (ex : sclérose en plaques.value, parkinson)
  </mat-list-option>
  <mat-form-field appearance="fill" style="margin-left: 1em; margin-bottom: 2em; width : 30%; font-weight : bold">
  Autres Maladies : <input  matInput #others type="text" placeholder="Maladie"
                           appearance="outline">
  </mat-form-field>




  <h3 style="margin-left: 50% ; margin-bottom: 2em; width : 30%; margin-top: -91em">Facteurs de risque connus</h3>
  <mat-list-option #dyslipidmiestyle style="margin-left: 50% ; margin-bottom: 2em; width : 30%;"  value="Dyslipidémie">Dyslipidémie</mat-list-option>

  <mat-list-option #hypertension_artrielle style="margin-left: 50% ; margin-bottom: 2em; width : 30%" value="Hypertension artérielle">Hypertension artérielle</mat-list-option>

  <mat-list-option #diabete style="margin-left: 50% ;  width : 30%" value="Diabète">Diabète</mat-list-option>

  <mat-list-option #surpoids style="margin-left: 50% ; margin-bottom: 2em; width : 30%" value="Surpoids (IMC 25.value,0 à 29.value,9)">Surpoids (IMC 25.value,0 à 29.value,9)</mat-list-option>

  <mat-list-option #obes_1 style="margin-left: 50% ; margin-bottom: 2em; width : 30%" value="Obésité grade 1 (IMC 30.value,0 - 34.value,9)">Obésité grade 1 (IMC 30.value,0 - 34.value,9)</mat-list-option>

  <mat-list-option #obes_2 style="margin-left: 50% ; margin-bottom: 2em; width : 30%" value="Obésité grade 2 (IMC 35.value,0 - 39.value,9)">Obésité grade 2 (IMC 35.value,0 - 39.value,9)</mat-list-option>

  <mat-list-option #obes_3 style="margin-left: 50% ; margin-bottom: 2em; width : 30%" value="Obésité grade 3 ou sévère (IMC > 40.value,0)">Obésité grade 3 ou sévère (IMC > 40.value,0)</mat-list-option>
  <mat-list-option #actif_tabac style="margin-left: 50% ; margin-bottom: 2em; width : 30%" value="Tabagisme actif">Tabagisme actif</mat-list-option>
  <mat-list-option #arret_tabac_moins6 style="margin-left: 50% ; margin-bottom: 2em; width : 30%" value="Tabagisme ancien (arrêt depuis < 6 mois)">Tabagisme ancien (arrêt depuis < 6 mois)</mat-list-option>
  <mat-list-option #arret_tabac_plus6 style="margin-left: 50% ; margin-bottom: 2em; width : 30%" value="Tabagisme ancien (arrêt depuis > 6 mois)">Tabagisme ancien (arrêt depuis > 6 mois)</mat-list-option>
  <mat-list-option #atcd_famlly_cardiovas style="margin-left: 50% ; margin-bottom: 2em; width : 30%" value="Antécédents familiaux – maladie cardiovasculaire)">Antécédents familiaux – maladie cardiovasculaire)</mat-list-option>
  <mat-list-option #atcd_famlly_cancer style="margin-left: 50% ; margin-bottom: 2em; width : 30%" value="Antécédents familiaux – cancer">Antécédents familiaux – cancer</mat-list-option>
  <mat-list-option #troubles_anxieux style="margin-left: 50% ; margin-bottom: 2em; width : 30%" value="Troubles anxieux<">Troubles anxieux</mat-list-option>
  <mat-list-option #depression style="margin-left: 50% ; margin-bottom: 2em; width : 30%" value="Dépression">Dépression</mat-list-option>
  <mat-form-field appearance="fill" style="margin-left: 50% ; margin-bottom: 2em; width : 30%; font-weight : bold">
    <mat-label>  Autres  :
    </mat-label>
    <input #others_fact matInput type="text" placeholder=""  >

  </mat-form-field>

</mat-selection-list>
<button mat-stroked-button color="primary" class="btn-block" style="" (click)="ajouterr(antecedants.selectedOptions.selected,cancer1_year.value,cancer1_organe.value,cancer2_organe.value,
  cancer2_year.value,cancer3_organe.value,cancer3_year.value,mpocyear,claudicationyear,thrombectomieyear,aityear,avcyear,others.value,others_fact.value)">Enregistrer

</button>





