.mat-stroked-button{border:5px solid black; width: 70%; margin-left: 5%; margin-right: 10%; margin-top: 6em; margin-bottom: 5em; }


.mat-form-field{
  width: 40%;
}



.mat-form-field{
  margin: 10px;
}
.error {
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: crimson;
}
